.badge {
    background-color: tomato;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}